h1{
    background: aqua;
    color: lightcoral;
    font-size: 30px;
    font-family: fantasy;
    font-style: italic;
    font-weight: 800;
    border: 10px solid violet;
    border-radius: 50px;
    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
    line-height: 50px;
    letter-spacing: 1px;
    box-shadow: -10px 10px 15px;
     margin: 10px; 
}